<%- include("../common/header", { title: "Add Product" }) %>
<%- include("../common/navbar") %>
<div class="container">

    <h2>Edit Category</h2>

    <form method="POST" action="/categories/update/<%= category.id %>">
        <div>
            <label>Category Name:</label><br>
            <input type="text" name="name" value="<%= category.name %>" required/>
        </div>

        <br>

        <button type="submit">Update Category</button>
    </form>

    <br>

    <a href="/categories">Back to Category List</a>
</div>
